<div class="page">


<!-- <app-top-nav></app-top-nav> -->
<div class="container">
  <tr>
    <td class="col-7 pt-5"><h2>Users</h2></td>
    <td class="col p-4">
      <button class="btn btn-success buttonadd" >AddUser</button>

      <button class="btn btn-outline-success dropdown-toggle buttoncat">
        Catogories
      </button>
    </td>
  </tr>
  <tr>
    <td class="col-7">
      <div>
        <table class="table">
          <thead>
            <tr class="head-row">
              <th>Name</th>
              <th>Role</th>
              <th>Observation</th>
              <th>Email</th>

              <th>Phone</th>
              <th>Status</th>
              <th></th>
            </tr>

            <tr>
              <td>AnnieStewat</td>
              <td>Super admin</td>
              <td>Dedc 04 2021</td>
              <td>annie stewat@peopletech.com</td>
              <td>+91 1234567890</td>
              <td>
                <div class="onboard">
                  onboarded
                </div></td>
              <td>
                <button class="btn btn-outline-success blockbtn">
                  <!-- <img src="../assets/images/block-icon-.png"> -->
                  block</button>
              </td>
            </tr>
          </thead>
        </table>
      </div>
    </td>
    <td class="col-3 p-4">
      <div class="card-body box shadow-sm ">
        <div>
          <th>User count</th>
        </div>
        <div>
          <div>
            <p class="progress-space"><label>Active</label><label>0</label></p>
            <div class="progress" style="height: 2px"></div>
          </div>
        </div>

        <div>
          <p class="progress-space"><label>Idle</label><label>0</label></p>
          <div class="progress" style="width: 100%; height: 2px"></div>
        </div>

        <div>
          <p class="progress-space"><label>Blocked</label><label>0</label></p>
          <div class="progress" style="width: 100%; height: 2px"></div>
        </div>
        <div>
          <p class="progress-space"><label>Total</label><label>0</label></p>
          <div class="progress" style="width: 100%; height: 2px"></div>
        </div>
      </div>

      <!-- <p>onboarded works!</p> -->
      <div class="card-body box shadow ">
        <table>
          <thead>
            <th>
              <tr>
                <td>
                  <label class="card-title"><strong>Users onboarded</strong></label>
                  <!-- <p class="show">Show: <span class="month">This month</span></p> -->

                </td>
                <td class="dropcol">
                  <label>
                    <div class="dropdown ">
                      <button
                        class="show btn btn dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton"
                        data-mdb-toggle="dropdown"
                        aria-expanded="true"
                      >
                        Show: <span class="month">This month</span>
                      </button>
                    </div>
                  </label>
                </td>

              </tr>
            </th>
          </thead>


        </table>



        <div class="container mt-5">
          <div class="row">

              <div class="col-md-6 ">
                <div class="circle">
                  <h1 class="percentage d-flex">0</h1>
                </div>

              </div>


            <div class="col-md-6 ">
              <p class="active">
                <img src="../assets/images/Ellipse 1.png" /> Manager
              </p>
              <p class="active">
                <img src="../assets/images/Ellipse 1.png" /> Crowd
              </p>
              <p class="active">
                <img src="../assets/images/Ellipse 1.png" /> Data analyst
              </p>
              <p class="active">
                <img src="../assets/images/Ellipse 2.png" /> SME
              </p>
              <p class="active">
                <img src="../assets/images/Ellipse 3.png" /> QA
              </p>
              <p class="active">
                <img src="../assets/images/Ellipse 4.png" /> Blocked
              </p>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
</div>
</div>
<!-- <app-adduser></app-adduser> -->






