<!-- <p>users works!</p> -->
<div class="card-body box shadow">
  <p class="card-title"><strong>Users</strong></p>
  <div class="dropdown">
      <button class="show btn btn dropdown-toggle" type="button" id="dropdownMenuButton"
          data-mdb-toggle="dropdown" aria-expanded="true">
          Show: <span class="month">This month</span>
      </button>
      <div class="line">
      </div>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
  </div>
  <p class="users">Currently no users onboarded yet</p>
