<nav class="navbar navbar-expand-lg navbar-light navbg">
  <div class="container-fluid pt-3">
    <a class="navbar-brand" href="#">
      <img class="ptglogo" src="../assets/images/people-tech-logo.png" width="100%" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>
<div class="conatiner text-center body-color">
  <h1>Sign In</h1>
  <div class="card m-auto">
    <div class="card-body">
      <h2 class="card-title mb-4">Log in or signup with</h2>
      <ul>
        <span class="social-icon social-facebook"><img src="../../../../assets/images/microsoft.png" alt=""></span>
        <span class="social-icon social-google"><img src="../../../../assets/images/google.png" alt=""></span>
        <span class="social-icon social-linkedin"><img src="../../../../assets/images/linkdin.png" alt=""></span>
        <span class="social-icon social-instagram"><img src="../../../../assets/images/google.png" alt=""></span>
        <span class="social-icon social-twitter"><img src="../../../../assets/images/twitter.png" alt=""></span>
      </ul>
      <p class="or-text">OR</p>
      <button type="button" class="CustomsLogin-btn"  routerLink="/custom-login">Custom Login</button>
    </div>
  </div>
</div>

