<!-- <p>onboarded works!</p> -->
<div class="card-body box shadow">
  <p class="card-title"><strong>Users onboarded</strong></p>
  <!-- <p class="show">Show: <span class="month">This month</span></p> -->
  <div class="dropdown">
      <button class="show btn btn dropdown-toggle" type="button" id="dropdownMenuButton"
          data-mdb-toggle="dropdown" aria-expanded="true">
          Show: <span class="month">This month</span>
      </button>
      <div class="line">
      </div>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
  </div>

  <div class="container mt-5">
      <div class="row">
          <div class="col-md-6">
              <h1 class="percentage d-flex">0%</h1>
          </div>
          <div class="col-md-6">
              <p class="active"><img src="../assets/images/Ellipse crowd.png"> Crowd</p>
              <p class="active"><img src="../assets/images/Ellipse 1.png"> Managed</p>
              <p class="active"><img src="../assets/images/Ellipse 2.png"> SME</p>
              <p class="active"><img src="../assets/images/Ellipse 3.png"> QA</p>
              <p class="active"><img src="../assets/images/Ellipse 4.png"> Blocked</p>
          </div>
      </div>
  </div>
</div>
