<div class="card-body box shadow-sm bg-white">
  <div>
    <div class="count">

        <th>Usercount</th>

        <td>
          <label>
            <div class="dropdown">
              <button
                class="show btn btn dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-mdb-toggle="dropdown"
                aria-expanded="true"
              >
                Show: <span class="month">This month</span>
              </button>
            </div>
          </label>
        </td>

    </div>
  </div>
  <div>
    <div>
      <div class="mt-3 user">
        <label>User</label>
        <label >0</label>
      </div>

      <div class="progress bg-success" style="width: 100%; height: 2px"></div>
    </div>
  </div>

  <div>
    <div class="mt-3 task">
      <label>Tasks</label><label>0</label>
    </div>
    <div class="progress" style="width: 100%; height: 3px">
      <div
        class="progress-bar bg-warning"
        role="progressbar"
        style="width: 79%"

      ></div>
    </div>
  </div>

  <div>
    <div class="mt-3 prog">
      <label class="mb-2">6</label>
      <label class="protext">Progress</label>
      <label>4</label>
    </div>


    <div class="progress" style="height: 6px">
      <div
        class="progress-bar bg-success"
        role="progressbar"
        style="width: 75%"

      ></div>

    </div>
    <div class="text-set">
      <label>Managed</label>
      <label>Crowd</label>
    </div>
  </div>
</div>

