<div class="container">
  <div class="pt-4">
    <div >
     <label style="color: #1282b2;">Dashboard</label>
    </div>
    <div  class="pt-2">
      <h2 ><label style="font-size: 25px;"> Crowd</label></h2>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-8" >
      <table class="table table-grey">
        <thead>
          <tr class="border-0 head">
            <th>Program</th>
            <th>ActiveTasks</th>
            <th>For review</th>
            <th> In QA</th>
            <th>Approved</th>
            <th>Totalusers</th>
            <th>Activeusers</th>
            <th>Idleusers</th>
            <th>Total time spent</th>
            <th>T-Put</th>
            <th>Progaram provider</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <tr>
            <td>
              <label class="table-program"> Product classification</label>
            </td>
            <td><label>10</label></td>
            <td><label>7</label></td>
            <td><label>5</label></td>
            <td><label>2</label></td>
            <td><label>6</label></td>
            <td><label>6</label></td>
            <td><label>0</label></td>
            <td><label>4h</label></td>
            <td><label>33</label></td>
            <td><label>Amazon<img src="../assets/images/Edit1.png" style="height:17px; width:auto" /></label></td>
            <td><label><img src="../assets/images/eye.png" style="height: 17px; width:auto ;"/></label></td>
          </tr>

          <tr>
            <td>
              <label class="table-program col-2"
                >Data collection(image)
              </label>
            </td>
            <td><label>10</label></td>
            <td><label>7</label></td>
            <td><label>5</label></td>
            <td><label>2</label></td>
            <td><label>6</label></td>
            <td><label>6</label></td>
            <td><label>0</label></td>
            <td><label>4h</label></td>
            <td><label>33</label></td>
            <td><label>Amazon<img src="../assets/images/Edit1.png" style="height:17px; width:auto" /></label></td>
            <td><label><img src="../assets/images/eye.png" style="height: 17px; width:auto ;"/></label></td>
          </tr>

          <tr>
            <td>
              <label class="table-program col-2">
                Data collection(image)</label
              >
            </td>
            <td><label>10</label></td>
            <td><label>7</label></td>
            <td><label>5</label></td>
            <td><label>2</label></td>
            <td><label>6</label></td>
            <td><label>6</label></td>
            <td><label>0</label></td>
            <td><label>4h</label></td>
            <td><label>33</label></td>
            <td><label>Amazon<img src="../assets/images/Edit1.png" style="height:17px; width:auto" /></label></td>
            <td><label><img src="../assets/images/eye.png" style="height: 17px; width:auto ;"/></label></td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <app-crowdcount></app-crowdcount>
      <div class="pt-3">
        <app-crowdoverall></app-crowdoverall>
      </div>
    </div>

  </div>



</div>
