.month{
  color: rgb(23, 147, 230);
}
.user{
  display: flex;
  justify-content: space-between;
}
.task{
  display: flex;
  justify-content: space-between;
}
.prog{
  display: flex;
  justify-content: space-between;
}
.count{
  display: flex;
  justify-content: space-between;
}
.protext{
  display: flex;
  font-weight: bold;
}
.text-set{
  display: flex;
  justify-content: space-between;
}
