.sendinvite-btn{
  border: solid 1px ;
  border-radius: 20px;
  background-color: #a72037;
  color: white;
  width: 110px;
  height: 37px;

}
.btnclose{
  background-color: rgb(208, 200, 200);
  border-radius: 20px;
  color: white;
  height:15px ;
  width: 15px;
  margin-top: 6px;
  margin-right: 6px;

}
.adduser{
  padding-left: 19px;
}
