
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header border-0">


      <button
        type="button"
        class="btn-close  btnclose"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="adduser">
      <h1 class="font-weight-bold  " id="exampleModalLabel">Add User</h1>
    </div>

    <div class="modal-body">
      <div>
      <label class="" > First Name <label class="text-danger">*</label></label>
        <input type="text" class="form-control mb-3 ">
      </div>
     <div>
      <label >LastName<label class="text-danger">*</label></label>
     <input type="text" class="form-control mb-3">
     </div>
     <div>
      <label >Country<label class="text-danger">*</label></label>
      <select class="form-select form-select mb-3" aria-label=".form-select-lg example"></select>
     </div>
     <div>

      <label >Role<label class="text-danger">*</label></label>
      <select class="form-select form-select mb-3" aria-label=".form-select-lg example"></select>
     </div>
     <div>

      <label class="font-weight-normal">Email<label class="text-danger">*</label></label>
     <input type="text" class="form-control">
     </div>


    <div class="modal-footer">

      <button type="button"  class=" sendinvite-btn" >
        Send Invite
      </button>
    </div>
  </div>
</div>
