<app-top-nav></app-top-nav>
<div class="banner-color">
    <div class="container-fluid">
        <div class="container">
            <h1 class="text-white">Hi Annie, </h1>
            <p class="text-white">Peopletech’s data platform is engineered to help you improve your training data
                addition and iteration
                loop with the ability to Annotate data, Diagnose model performance, and Prioritize based on your
                results.</p>
        </div>
    </div>
</div>
<!-- cards in dashboard -->
<div class="container my-auto">
    <div class="row mt-4">
        <div class="col-md-8">
          <app-user-card></app-user-card>
        </div>
        <div class="col-md-4">
            <app-profile-card></app-profile-card>
        </div>
        <div class="col-md-4">
            <app-onboarded-card></app-onboarded-card>
        </div>
        <div class="col-md-4">
          <app-client-card></app-client-card>
        </div>
    </div>
    <div>
      <button routerLink="/adduser"> users</button>
    </div>
</div>
