<app-top-nav></app-top-nav>
<div class="container">
<div >
  <div class="pt-4">
    <div >
     <label style="color: #1282b2;">Dashboard</label>
    </div>
    <div  class="pt-2">
      <h2 ><label style="font-size: 25px;"> Manager</label></h2>
    </div>
  </div>
  <div class="row mt-4">


      <div class="col-8">
        <div  >
          <table class="table table-grey">
            <thead>
              <tr class="border-0 head">
                <th>Program</th>
                <th>Tasks</th>
                <th>No.ofAssigned users</th>
                <th>Assigned users</th>
                <th>Program provider</th>
                <th>managed by</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="bg-white">
              <tr>
                <td>
                  <label class="table-program"> Product classification</label>
                </td>
                <td><label>10</label></td>
                <td><label>3</label></td>
                <td><label>Crowd,SME,QA</label></td>
                <td><label>Amazon</label></td>
                <td><label>AnneBrown,David Bryan<img src="../assets/images/Edit1.png" style="height:17px; width:auto" /></label></td>
                <td><label><img src="../assets/images/eye.png" style="height: 17px; width:auto ;"/></label></td>
              </tr>

              <tr>
                <td>
                  <label class="table-program col-2"
                    >Data collection(image)
                  </label>
                </td>
                <td><label>10</label></td>
                <td><label>3</label></td>
                <td><label>Crowd,SME,QA</label></td>
                <td><label>Amazon, Google</label></td>
                <td><label>AnneBrown<img src="../assets/images/Edit1.png" style="height:17px; width:auto" /></label></td>
                <td><label><img src="../assets/images/eye.png" style="height: 17px; width:auto" /></label></td>
              </tr>

              <tr>
                <td>
                  <label class="table-program col-2">
                    Data collection(image)</label
                  >
                </td>
                <td><label>10</label></td>
                <td><label>3</label></td>
                <td><label>Crowd,SME,QA</label></td>
                <td><label>Apple</label></td>
                <td><label>AnneBrown,David Bryan<img src="../assets/images/Edit1.png" style="height:17px; width:auto" /></label></td>
                <td><label> <img src="../assets/images/eye.png" style="height: 17px; width:auto" /></label></td>
              </tr>
              <tr>
                <td><label class="table-program"> Line alignment</label></td>
                <td><label>10</label></td>
                <td><label>3</label></td>
                <td><label>Crowd,SME,QA</label></td>
                <td><label>Apple,Amazon,Google</label></td>
                <td><label>AnneBrown<img src="../assets/images/Edit1.png" style="height:17px; width:auto" /></label></td>
                <td><label><img src="../assets/images/eye.png" style="height: 17px; width:auto" /></label></td>
              </tr>
              <tr>
                <td>
                  <label class="table-program col-2"
                    >DangerSign Identification</label
                  >
                </td>
                <td><label>10</label></td>
                <td><label>3</label></td>
                <td><label>Crowd,SME,QA</label></td>
                <td><label>Amazon,Google</label></td>
                <td><label>AnneBrown<img src="../assets/images/Edit1.png" style="height:17px; width:auto" /></label></td>
                <td><label><img src="../assets/images/eye.png" style="height: 17px; width:auto"/></label></td>
              </tr>
              <tr>
                <td>
                  <label class="table-program col-2">Streetsign annotation</label>
                </td>
                <td><label>10</label></td>
                <td><label>3</label></td>
                <td><label>Crowd,SME,QA</label></td>
                <td><label>Amazon</label></td>
                <td><label>AnneBrown<img src="../assets/images/Edit1.png" style="height:17px; width:auto" /></label></td>
                <td><label><img src="../assets/images/eye.png" style="height: 17px; width:auto" /></label></td>
              </tr>
              <tr>
                <td>
                  <label class="table-program col-2"
                    >Lane identification(PolyLine)</label
                  >
                </td>
                <td><label>10</label></td>
                <td><label>3</label></td>
                <td><label>Crowd,SME,QA</label></td>
                <td><label>Microsoft</label></td>
                <td><label>AnneBrown<img src="../assets/images/Edit1.png" style="height:17px; width:auto" /></label></td>
                <td><label><img src="../assets/images/eye.png" style="height:17px; width:auto" /></label></td>
              </tr>
              <tr>
                <td>
                  <label class="table-program col-2"
                    >Objectidentification(Lidar)</label
                  >
                </td>
                <td><label>10</label></td>
                <td><label>3</label></td>
                <td><label>Crowd,SME,QA</label></td>
                <td><label>Amazon,Microsoft</label></td>
                <td><label>AnneBrown</label><img src="../assets/images/Edit1.png" style="height:17px; width:auto" /></td>
                <td><label><img src="../assets/images/eye.png" style="height: 18px; width:auto" /></label></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div class="col-md-4 ">
        <app-count></app-count>
        <div class="pt-3">
          <app-overall></app-overall>
        </div>

      </div>





  </div>
</div>
</div>
