<!-- <p>landing-page works!</p> -->
<nav class="navbar navbar-expand-lg navbar-light navbg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="ptglogo" src="../assets/images/people-tech-logo.png" width="80%" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-lg-0 mx-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Platform</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Solutions</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#">Service</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Services 1</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Learn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">How it Works</a>
        </li>
      </ul>
      <ul class="navbar-nav me-2">
        <li class="nav-item">
          <button type="submit" class="sign-in pt-1" routerLink="/login"><img src="../../assets/images/Sign-in.svg"
              alt=""> Sign In</button>
        </li>
        <li class="nav-item">
          <button type="button" class="help-btn"><i class="bi bi-person-lines-fill"></i> Help</button>
        </li>
      </ul>

    </div>
  </div>
</nav>
<!-- content -->
<div class="bg-color">
  <div class="banner-bg">
    <div class="container">
      <div class="row m-0">
        <div class="col-md-6 my-auto">
          <h1 class="banner-head ">Leverage Human-Intelligence to Set the Level Up!</h1>
          <p class="banner-txt">Advance your standard technologies with a robust data-centric AI development approach.
            (Tool name) now becomes the one-stop data labeling platform that will help you in fast data iterations and
            easy scaling to support AI/ML development.
            Our goal is to improve your training data addition & iteration loop with the ability to annotate data,
            diagnose model performance and manage solutions according to requirements.
          </p>
          <div class="row mt-3">
            <div class="col-md-6"> <button type="button" class="demo-btn mb-3"><img
                  src="../../assets/images/FreeDemo.svg" alt=""> Free Demo</button></div>
            <div class="col-md-6"> <button type="button" class="Signup-now text-white" routerLink="/login-header"><img
                  src="../../assets/images/signin.png" alt=""> Signup-now</button></div>
          </div>

        </div>
        <div class="col-md-6 text-center mt-3">
          <img src="../../assets/images/banner-img.png" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- excel real bussiness -->
<div class="container-fluid my-5 p-0">
  <div class="container">
    <h1 class="mb-5">Excel Real Business Value </h1>
    <div class="row my-5">
      <div class="col-md-3">
        <div class="custom-card ">
          <div class="row m-0">
            <div class="col-md-4 text-center"> <img src="../../assets/images/fastest-icon.png" class="mb-3 "></div>
            <div class="col-md-8 my-auto">
              <h4 class="business-icons">Fastest resolution</h4>
            </div>
          </div>
          <p>Target the best audience by knowing customer business direction, objectives, and concerns they have.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="custom-card ">
          <div class="row">
            <div class="col-md-4 text-center"> <img src="../../assets/images/Enriched-icon.png" class="mb-3"></div>
            <div class="col-md-8 my-auto">
              <h4  class="business-icons">Enriched quality</h4>
            </div>
          </div>
          <p>Target the best audience by knowing customer business direction, objectives, and concerns they have.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="custom-card ">
          <div class="row">
            <div class="col-md-4 text-center"> <img src="../../assets/images/scalable-icon.png" class="mb-3"></div>
            <div class="col-md-8 my-auto">
              <h4 class="business-icons">Scalabale data</h4>
            </div>
          </div>
          <p>Target the best audience by knowing customer business direction, objectives, and concerns they have.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="custom-card ">
          <div class="row">
            <div class="col-md-4 text-center"> <img src="../../assets/images/cost-eff-icon.png" class="mb-3"></div>
            <div class="col-md-8 my-auto">
              <h4 class="business-icons">Cost effective</h4>
            </div>
          </div>
          <p>Target the best audience by knowing customer business direction, objectives, and concerns they have.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- analysing data types -->
  <div class="banner-color">
    <div class="container-fluid pt-5 m-0">
      <div class="container">
        <h1 class="text-white">Analysing data types</h1>
        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididun</p>
        <!-- sidenav bar section -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 col-xl-2 px-sm-2 px-0 ">
              <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-50">
                <!-- <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                                  <span class="fs-5 d-none d-sm-inline">Menu</span>
                              </a> -->
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                    <a href="#" class="nav-link align-middle px-0 text-white">
                      <img src="../../assets/images/image& video.svg" alt=""> <span
                        class="ms-1 d-none d-sm-inline">Image
                        & video</span>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="nav-link px-0 align-middle text-white">
                      <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Text</span></a>
                  </li>
                  <li>
                    <a href="#" class="nav-link px-0 align-middle text-white">
                      <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Audio</span></a>
                  </li>
                  <li>
                    <a href="#" class="nav-link px-0 align-middle text-white">
                      <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Data collection</span></a>
                  </li>

                  <li>
                    <a href="#" class="nav-link px-0 align-middle text-white">
                      <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Field</span> </a>
                  </li>
                </ul>

              </div>
            </div>
            <div class="col py-3">
              <img src="../../assets/images/annotation-imgs.png" width="100%" alt="">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Solutions -->
  <div class="container ">
    <h1>Solutions</h1>
    <div class="row my-5">
      <div class="col-md-2 text-center">
        <div class="card-body">
          <img src="../../assets/images/ecommere.png" alt="ecommere">
          <p>E-commerce</p>
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" fill="currentColor" class="bi bi-arrow-right right-arrow" viewBox="0 0 16 16" >
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="card-body">
          <img src="../../assets/images/search.png" alt="search">
          <p>E-commerce</p>
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" fill="currentColor" class="bi bi-arrow-right right-arrow" viewBox="0 0 16 16" >
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="card-body">
          <img src="../../assets/images/social science.png" alt="social science">
          <p>E-commerce</p>
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" fill="currentColor" class="bi bi-arrow-right right-arrow" viewBox="0 0 16 16" >
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="card-body">
          <img src="../../assets/images/computer vision.png" alt="computer Vision">
          <p>E-commerce</p>
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" fill="currentColor" class="bi bi-arrow-right right-arrow" viewBox="0 0 16 16" >
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="card-body">
          <img src="../../assets/images/field data collection.png" alt="field data collection">
          <p>E-commerce</p>
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" fill="currentColor" class="bi bi-arrow-right right-arrow" viewBox="0 0 16 16" >
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="card-body">
          <img src="../../assets/images/nlp.png" alt="nlp">
          <p>E-commerce</p>
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" fill="currentColor" class="bi bi-arrow-right right-arrow" viewBox="0 0 16 16" >
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <!-- Learn -->
  <div class="learn-banner learnB-bgColor">
    <div class="container-fluid">
      <div class="container mt-5">
        <h1 class="text-white ">Learn</h1>
        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididun, Lorem ipsum
          dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididun, Lorem ipsum dolor sit
          amet, consectetur adipiscing elit, sed do eiusmod tempor incididun. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididun. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididun</p>
        <div class="col-md-12 text-center">
          <!-- <video src="../../assets/images/video-image.JPG"></video> -->
          <iframe width="500" height="400" class="iframe-video" src="https://www.youtube.com/embed/EM6W27qt3qc"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <div class="text-center">
          <button type="button" class="learn-btn text-white my-3"> Learn more</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="pricing-banner">
  <div class="container-fluid">
      <div class="container">
          <h1>pricing</h1>
          <div class="row">
              <div class="card">
                  <div class="card-body">

                  </div>
              </div>
          </div>

      </div>
  </div>
</div> -->
  <!-- Pricing  card sections-->
  <div class="pricing">
    <div class="container">
      <h2 class="P-L">Pricing</h2>
      <div class="row">
        <div class="col-md-4 mt-5">
          <div class="card p-4 box shadow">
            <div class="d-flex">
              <img class="reward" src="../assets/images/Price.png">
              <h3 class="mx-3">Pay only for what you use.</h3>
            </div>
            <div class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididun. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididun. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididun</div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="card p-4 box shadow">
            <div class="d-flex">
              <img class="reward" src="../assets/images/Reward.png">
              <h3 class="mx-3">People’s reward</h3>
            </div>
            <div class="mt-2">
              <ul>
                <li>Lorem ipsum dolor sit amet,</li>
                <li>consectetur adipiscing elit, sed do eiusmod tempor incididun.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="card p-4 box shadow">
            <div class="d-flex">
              <img src="../assets/images/Platform fee.png">
              <h3 class="mx-3">Platform fee</h3>
            </div>
            <div class="mt-2">
              <ul>
                <li>Lorem ipsum dolor sit amet,</li>
                <li>consectetur adipiscing elit, sed do eiusmod tempor incididun.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>sed do eiusmod tempor incididun. Lorem ipsum dolor sit amet,...</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <div class="text-center">
        <button type="button" class="learn-btn text-white my-3"> Learn more</button>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class="mt-5">How it's works</h2>
    <div class="row">
      <div class="col-md-3 mt-4">
        <div class="card-body">
          <div class="text-center">
            <img class="numbers" src="../assets/images/one.png">
            <div class="row">
              <img class="mt-2" src="../assets/images/image 1.png">
            </div>
            <h5 class="mt-3">Decide nature of data</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="card-body">
          <div class="text-center">
            <img class="numbers" src="../assets/images/two.png">
            <div class="row">
              <img class="mt-2" src="../assets/images/image 2.png">
            </div>
            <h5 class="mt-3">Customize settings</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="card-body">
          <div class="text-center">
            <img class="numbers" src="../assets/images/three.png">
            <div class="row">
              <img class="mt-2" src="../assets/images/image 3.png">
            </div>
            <h5 class="mt-3">Start data labelling</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="card-body">
          <div class="text-center">
            <img class="numbers" src="../assets/images/four.png">
            <div class="row">
              <img class="mt-2" src="../assets/images/image 4.png">
            </div>
            <h5 class="mt-3">Receive labelled output</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="button" class="learn-btn text-white my-3"> Learn more</button>
    </div>
  </div>
