mat-toolbar {
  justify-content:space-between;
}
.content{
  padding: 32px;
}

.userbtn{
  background: transparent;
  color:#fff;
  border: none;
}
.topnav-bg{
  background-color: #fff;
}
.ptglogo{
  justify-content: flex-start;
}

.menu-spacer{
  justify-content: space-between;
}
