.bookconsbtn{
  border-radius: 18px;
  height: 25px;
  width: 145px;
  padding: 1px;
}


.privacybtn{
  border-radius: 18px;
  height: 25px;
  width: 145px;
  padding: 1px;
}
.footer{
  background-color: rgb(182, 177, 177);
}

