<div class="footer">
  <div >
  <!-- <table  >

    <tr class="col-12" >
      <td>
        <div class="col-7">
          <td class="p-3">Problem</td>
          <td class="p-3">Solutions</td>
          <td class="p-3">Learn</td>
          <td class="p-3">Pricing</td>
          <td class="p-3">FAQ</td>
          <td class="p-3">How It Works</td>
        </div>
      </td>
      <td class="col-3 p-9">
        <div>
          Social Medial
        </div></td>
      <td class="col-4">
        <div>
          <button class="btn btn-success bookconsbtn">Book A Consultant</button>
          <button class="btn btn-outline-success privacybtn">Privacy Policy</button>
        </div>

      </td>
    </tr>
    <tr class="col-3">
      <td>
        <img />
      </td>
      <td>

        <img />
        <img />
        <img />
        <img />
        <img />
      </td>
       <td></td>
    </tr>
  </table> -->


  <div class="col-4">
    <div class="col-4">
      <label>Platform</label>
      <label>Solutions</label>
      <label>Learn</label>
      <label>Pricing</label>
      <label>FAQ</label>
      <label>HowItWorks</label>
    </div>

  </div>

</div>
</div>
